
@{
    ViewBag.Title = "RegisterConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=1">
    <link href="~/Content/RegisterConfirm.css" rel="stylesheet" />
</head>
<body>
    <div id="hello">
        <h1>註冊成功，恭喜成為本餐廳會員</h1>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="https://cdnjs.cloudflare.com/ajax/libs/canvas-nest.js/2.0.0/canvas-nest.js" integrity="sha512-Yt1ojen35QKtkln/mHvyNvhfPGmN53lUQlMEN6sj/a+V7U5O130EjsdfcJgeynEst9QG9lnCZmOZPXU1vIkbKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    }
</body>
</html>
